<app-navbar></app-navbar>
<div class="hero-call">
  <h1>La lucha oculta contra el cambio climático</h1>
  <h3>Las implicaciones de la desigualdad</h3>
</div>
<div class="card card-custom text-center">
  <h3 class="mt-3">Manifiesto</h3>
  <div class="card-body">
    <h5 class="card-title">El privilegio de contaminar</h5>
    <p class="card-text">
      El consumo en general del mundo es desmedido y desigual. No consume igual en calidad y cantidad un pobre que un rico. Mientras unos luchan por hacer una comida al día (aunque sea raquítica y descuidada), otros consumen en exceso y se llenan a sus anchas.
      Resulta inadmisible que se haya alcanzado desde hace tiempo la capacidad de producción suficiente para alimentar a todos los humanos del planeta y que aún así haya quienes mueren de hambre.
    </p>
    <p class="card-text">
      La desigualdad mata e inhibe, mientras que el consumo desmedidamente obsceno de los ricos brilla, engaña y se vuelve el anhelo de los pobres sin saber que el mundo se acabaría si todos fueramos ricos.
    </p>
  </div>
</div>
<hr style="color: greenyellow;">
<app-que-es></app-que-es>
<hr style="color: greenyellow;">
<app-statistics></app-statistics>
